<div class="article-view site-width">
  <span class="kicker"><%= @post.kicker.html_safe %></span>
  <h1><%= @post.title.html_safe %></h1>
  <article>
    <%= @post.content.html_safe %>
  </article>
</div>
