<!DOCTYPE html>
<html>
  <head>
    <title>RailsPwa</title>
    <meta name="viewport" content="width=device-width">
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', defer: true %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#006aa4">
  </head>

  <body>
    <nav>
      <%= link_to 'RAILS PWA', root_path %>
    </nav>

    <div class="site-width">
      <div class="skeleton">
        <div class="skeleton__header"></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>

    <main>
